version: '2'

services:
  # Application
  frontend:
    build: .
    depends_on:
      - database
    ports:
      - 80:80
    volumes:
      - .:/var/www/html
    env_file:
      - .env

  # Database
  database:
    image: mysql:5.7
    # Adding data for base SQL.
    # All SQL files will be ran in alphanumeric order
    volumes:
      - ./data:/var/lib/mysql
    ports:
      - 3306:3306
    restart: always
    environment:
      - MYSQL_ALLOW_EMPTY_PASSWORD=yes
      - MYSQL_DATABASE=excursions_dev
